@media (min-width: 800px) {
    .home-col-md-3 {
      width: 25%;
    }
  }
  
  @media (min-width: 500px) and (max-width: 799px) {
    .home-col-sm-4 {
      width: 33.33%;
    }
  }
  
  @media (max-width: 499px) {
    .home-col-6 {
      width: 50%;
    }
  }
  